:root {
  --main-color: #e11d3f;
  --main-font: 'Open Sans', Helvetica, sans-serif;
}

.App {
  text-align: center;
  box-sizing: border-box;
}

.App-body {
  text-align: left;
}

.App-body p {
  padding-top: 30px;
  padding-left: 30px;
  font-family: var(--main-font);
  font-weight: bold;
}

#password {
  margin-left: 2px;
}

form {
  padding-left: 30px;
}

label {
  font-weight: bold;
  font-family: var(--main-font);
}

label[for='password'] {
  margin-left: 4px;
}

input[type='submit'] {
  cursor: pointer;
  margin-left: 5px;
  border-radius: 5px;
  border: 1px solid rgba(223, 195, 195, 0.26);
  box-shadow: 3px 3px 6px rgba(97, 85, 85, 0.329) ;
}

input[type='submit']:hover {
  box-shadow: 4px 6px 8px rgba(97, 85, 85, 0.329) ;
}

input[type='submit']:active {
  box-shadow: 1px 1px 1px rgba(97, 85, 85, 0.329) ;
}
